body {
  background-color: #425664;
  color: whitesmoke;
  /* background-image: url("Savoury.jpg"); */
}

.prouctItemHeader {
  color: whitesmoke !important;
}

.menuHeader{
    background-color: #c6ad8f !important;
}
